@media screen and ( max-width: 1320px )
  .menu
    justify-content: space-between
    &__logo
      margin-left: 2rem
    &__contacts
      margin-left: auto
      margin-right: 2rem
  .hero
    &__instagram
      max-width: 40px
  .row
    padding-left: 1rem
    padding-right: 1rem
  .steps
    padding-bottom: 530px
    &-title
      padding-left: 1rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .container
    padding: 0 1.5rem
  .nav
    &__item
      &:nth-of-type(n+2):nth-of-type(-n+6)
        margin-left: 2rem
  .hero
    &__scroll-down
      min-height: 5rem
  .row
    padding: 0
  .steps
    padding-bottom: 450px
    &-title
      padding-left: 0
  .team
    &__row
      justify-content: space-around
    &__col
      &-32
        &--second
          margin: 0

@media screen and ( max-width: 992px )
  .menu
    &__logo
      margin-left: 1.5rem
    &__contacts
      margin-right: 1.5rem
  .nav
    &__item
      &:nth-of-type(n+2):nth-of-type(-n+6)
        margin-left: 1.643rem
  .button
    font-size: 1.083rem
    &--primary     
      box-shadow: none
    &--outline
      padding-top: 1.5rem
      padding-bottom: 1.5rem
  .hero
    &__content
      max-width: 28.25rem
      margin-left: 1.5rem
      margin-right: 1.5rem
    &__text
      margin: 1.1rem 0 2.666rem 0
      font-size: 1.5rem
    &__button
      display: block
      max-width: 31.25rem
      width: 100%
      margin-bottom: 2.15rem
      padding-top: 1.5rem
      padding-bottom: 1.5rem  
    &__scroll-down
      display: none
  .instagram
    display: none
  .title
    font-size: 1.917rem
    line-height: 2.583rem
  .section
    padding-top: 0
    &-title
      &__heading
        &--primary
          max-width: 20rem
          margin: 0 auto
      &--visible
        display: none
  .swiper1
    &__slide
      padding-bottom: 2rem
    &__text
      flex-basis: 50%
    &__image
      margin: 0 auto
  .row
    flex-direction: column
    align-items: center
  .col-100
    display: flex
    justify-content: center
  .col-40
    width: 50%
  .col-60
    width: 100%
    order: -1
  .types
    &__card
      margin-bottom: 5.6rem
  .design
    &__card
      margin-bottom: 5.6rem
  .steps    
    display: none
  .team
    margin-top: 60px
    padding-top: 2rem
    padding-bottom: 4rem
    background-color: $dark
    &__text
      margin-bottom: 0
      color: $light
    &-card
      max-width: 304px
      &__image
        &-1
          display: none
        &-2
          display: block
    &__col
      &-32
        margin-left: 1.5rem
  .customers
    display: none
  .footer
    &__wrap
      margin-top: auto

@media screen and ( max-width: 900px )
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
    &__button
      display: none

@media screen and ( max-width: 760px )  
  .section
    &-title
      &__heading
        margin-top: 0
        font-size: 1.833rem
      &__text
        margin-top: 2.1rem
        margin-bottom: 3rem
        font-size: 1.167rem
        max-width: 25.417rem
        line-height: 1.9rem
  .swiper1
    &__slide
      width: 100%
    &__heading
      font-size: 1rem
      letter-spacing: 0.12rem
    &__value
      font-size: 1.167rem
      letter-spacing: normal
      font-weight: normal
    &__image
      width: 100%
  .row
    flex-direction: column
    align-items: center
  .control
    &__heading
      margin-top: 2rem
  .types
    &__section-title
      margin-bottom: 2.35rem
    &__pricetag
      padding: 0.917rem 0
  .card
    &__text
      margin-left: 0
      margin-top: -12rem
      padding: 1.79rem 2.5rem
      max-width: 22.5rem
    &__title
      padding: 0 0 0 0.15rem
      font-size: 1.25rem
    &__list
      margin-bottom: 1.55rem
      padding: 0 0 0 1.1rem
      line-height: 1.9rem
      letter-spacing: 0
    &__item
      font-size: 1.083rem
    &__pricetag
      width: 15.833rem
      font-size: 1.25rem
  .design
    margin-bottom: 0
    padding-top: 3rem
    background-color: $dark
    &__heading
      &--light
        color: $light
    &__info
      margin: 1.5rem auto 2rem auto
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.667rem
      color: $light
    &__pricetag
      padding: 0.917rem 0
      text-align: center
  .team
    margin-top: 0
    &-card
      &__icon
        left: -30px
        top: -30px
        width: 60px
        height: 60px
        &-image
          width: 60%

@media screen and ( max-width: 700px )
  .nav
    display: none
  .contacts
    &__phone
      color: #ffffff

@media screen and ( max-width: 570px )
  .section
    padding: 0
  .projects
    padding-bottom: 0
    &__swiper
      padding-bottom: 3rem
    &__pagination
      left: calc(50% - 37px) !important
  .swiper
    &-button
      &-prev
        left: calc(50% - 100px) !important
      &-next
        left: calc(50% + 62px) !important
  .swiper1
    &__text
      flex-basis: 47.5%
  .row
    align-items: left
  .col-40
    width: 100%
    padding-left: 0  
  .control
    padding-top: 2.9rem
    padding-bottom: 0
    background-color: $dark
    &__section
      &-title
        margin-top: 0
        margin-bottom: 3.5rem
    &__video
      max-width: 28.33rem
      min-height: 17.25rem
      margin-bottom: 2.1rem
      box-shadow: none
    &__text
      margin-bottom: 2.3rem
      font-size: 1.167rem
      line-height: 2rem
      color: $light
      &::before
        margin-bottom: 1.35rem
    &__form
      flex-direction: column
    &__input-group
      flex-basis: 100%
      margin-bottom: 5.15rem
    &__label
      margin-bottom: -4px
      font-size: 1.25rem
      color: rgba(255, 255, 255, 0.5)
    &__input
      border-bottom: 1px solid $light
      font-size: 1.5rem
      color: $light
      &::placeholder
        color: $light
    &__policy
      margin-top: -4.2rem
      margin-bottom: 5.1rem
      color: $light
      &-label
        justify-content: flex-start
        font-size: 1.333rem
    &__button
      order: 1
      margin-bottom: -25px
      font-size: 1.25rem
  .video
    &__play
      width: 5.083rem
      height: 5.083rem
  .types
    padding-top: 5.3rem
  .design
    margin-bottom: 0
    padding-top: 3rem
    background-color: $dark
  .team
    margin-top: 0
    padding-top: 2.5rem
    padding-bottom: 0
    &__heading
      margin-top: 0
      margin-bottom: 1.1rem
    &__image
      margin-top: 0.5rem
    &__info
      margin-top: 1.7rem
      margin-bottom: 6.8rem
      font-size: 1.25rem
      line-height: 1.667rem
    &__col
      &-32
        margin-left: 2rem
    &__text
      display: none
    &-card
      &__container
        padding-top: 1.8rem
      &__name
        margin-bottom: 0.5rem
        font-size: 1.5rem
      &__position
        font-size: 1.5rem
      &__experience
        margin-top: 2rem
        font-size: 1.083rem
  .footer
    margin-bottom: 0 !important
    padding-top: 0
    background-image: none
    background-color: $dark
    &__title
      margin-bottom: 4.5rem
      font-size: 1.667rem
    &__wrap
      margin-bottom: 3.9rem
      padding: 0
      background-image: none
    &__label
      margin-bottom: -3px
      font-size: 1.25rem
    &__input
      font-size: 1.5rem
      &-group
        flex-basis: 100%
        margin-bottom: 5.2rem
    &__button
      width: 100%
      font-size: 1.25rem
    &__policy
    margin-bottom: 3.3rem
    &__map
      order: -1
      margin-bottom: 0
      width: 100%
      max-height: 255px
      min-height: 255px
    &__menu
      display: none
  .policy
    &__label
      &--center
        justify-content: flex-start
        margin-top: -4.5rem
        font-size: 1.333rem
  .location
    display: flex
    flex-direction: column
  .address
    &__title
      margin-top: 3.3rem
      max-width: 27rem
      font-size: 1.5rem
      letter-spacing: 0
      line-height: 2.1rem
    &__icons
      max-width: 8.2rem
    &__icon
      width: 3.25rem
      height: 3.25rem
      &-image
        width: 50%
  .scrollup
    display: none

      