@media screen and ( max-width: 1320px )
  .menu
    justify-content: space-between
    &__logo
      margin-left: 2rem
    &__contacts
      margin-left: auto
      margin-right: 2rem
  .hero
    &__instagram
      max-width: 40px
  .row
    padding-left: 1rem
    padding-right: 1rem
  .steps
    &-title
      padding-left: 1rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .container
    padding: 0 1.5rem
  .nav
    &__item
      &:nth-of-type(n+2):nth-of-type(-n+6)
        margin-left: 2rem
  .hero
    &__scroll-down
      min-height: 5rem
  .row
    padding: 0
  .steps
    &-title
      padding-left: 0

@media screen and ( max-width: 992px )
  .menu
    &__logo
      margin-left: 1.5rem
    &__contacts
      margin-right: 1.5rem
  .nav
    &__item
      &:nth-of-type(n+2):nth-of-type(-n+6)
        margin-left: 1.643rem
  .button
    font-size: 1.083rem
    &--primary
      padding-top: 1.5rem
      padding-bottom: 1.5rem      
      box-shadow: none
    &--outline
      padding-top: 1.5rem
      padding-bottom: 1.5rem
  .hero
    &__content
      max-width: 28.25rem
      margin-left: 1.5rem
      margin-right: 1.5rem
    &__text
      margin: 1.1rem 0 2.666rem 0
      font-size: 1.5rem
    &__button
      display: block
      max-width: 31.25rem
      width: 100%
      margin-bottom: 2.15rem
    &__scroll-down
      display: none
  .instagram
    display: none
  .title
    font-size: 1.917rem
    line-height: 2.583rem
  .section
    &-title
      &__heading
        &--primary
          max-width: 20rem
          margin: 0 auto
      &--visible
        display: none
  .swiper1
    &__slide
      padding-bottom: 2rem
    &__text
      flex-basis: 50%
    &__image
      margin: 0 auto
  .row
    flex-direction: column
    align-items: center
  .col-100
    display: flex
    justify-content: center
  .col-40
    width: 50%
  .col-60
    width: 100%
    order: -1
  .steps
    display: none

@media screen and ( max-width: 900px )
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
    &__button
      display: none

@media screen and ( max-width: 760px )  
  .section
    &-title
      &__heading
        font-size: 1.833rem
      &__text
        margin-top: 2.1rem
        margin-bottom: 3rem
        font-size: 1.167rem
        max-width: 25.417rem
        line-height: 1.9rem
  .swiper1
    &__slide
      width: 100%
    &__heading
      font-size: 1rem
      letter-spacing: 0.12rem
    &__value
      font-size: 1.167rem
      letter-spacing: normal
      font-weight: normal
    &__image
      width: 100%
  .row
    flex-direction: column
    align-items: center
  .types
    &__section-title
      margin-bottom: 2.35rem
    &__card
      margin-bottom: 5.6rem
    &__pricetag
      padding: 0.917rem 0
  .card
    &__text
      margin-left: 0
      margin-top: -12rem
      padding: 1.79rem 2.5rem
      max-width: 22.5rem
    &__title
      padding: 0 0 0 0.15rem
      font-size: 1.25rem
    &__list
      margin-bottom: 1.55rem
      padding: 0 0 0 1.1rem
      line-height: 1.9rem
      letter-spacing: 0
    &__item
      font-size: 1.083rem
    &__pricetag
      width: 15.833rem
      font-size: 1.25rem
  .design
    &__card
      margin-bottom: 5.6rem
    &__info
      margin: 1.5rem auto 2rem auto
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.667rem
    &__pricetag
      padding: 0.917rem 0
      text-align: center

@media screen and ( max-width: 700px )
  .nav
    display: none
  .contacts
    &__phone
      color: #ffffff

@media screen and ( max-width: 570px )
  .swiper1
    &__slide
      padding-bottom: 2rem
    &__text
      flex-basis: 47.5%
  .row
    align-items: left
  .col-40
    width: 100%
    padding-left: 0