* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
}

.tools {
  width: 100%;
  padding: 10rem 0;
  text-align: center;
  background-color: #f9f9f9;
}

.tools-header h2 {
  margin-bottom: 12.5rem;
  font-size: 3.6rem;
  font-weight: 400;
}

.tools-blocks {
  display: flex;
  justify-content: space-around;
}

.tools-block {
  display: flex;
  height: 36.6rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tools-text {
  font-size: 1.6rem;
}

.tools-tag {
  font-size: 1.8rem;
  font-weight: 700;
}

.tools-btn {
  padding: 2rem 7.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #23bac1;
  background-color: transparent;
  border: 1px solid #23bac1;
  cursor: pointer
}