@font-face {
    font-family:'FuturaBook';)
    src:
    url('../fonts/futura/FuturaBook.woff') format('woff')
    url('../fonts/futura/FuturaBook.woff2') format('woff2')
    font-weight: normal
    font-style: normal
    font-display: wrap
    }

    @font-face {
        font-family: 'FuturaDemi';)
        src: 
        url('../fonts/futura/FuturaDemi.woff') format('woff')
        url('../fonts/futura/FuturaDemi.woff2') format('woff2')
        font-weightcontent: normal
        font-style: normal
        font-display: wrap
        }